{% extends "base.html" %}

{% block content %}
<h1>All Albums</h1>

<p><a href="{% url 'new_album' %}">Add New Album</a></p>

<div class="flex flex-wrap">
    {% for album in albums %}
    <div class="w-33 pa3">
        <h2>{{ album.title }}</h2>
        <p>Release date: {{ album.release_date }}</p>

        <div class="flex">
        <div class="pr2">
        <div>
          <a href="{% url 'notes_album' pk=album.pk %}">{{ album.artist }}</a><br>
        </div>
    
    

      <p>
        <a href="{% url 'add_note' pk=album.pk %}">Add Note</a><br> 
        <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>    
        <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a>
      </p>
      <p>Entry created on: {{ album.created_at }}</p>
        </div>
        </div>
    </div>
    
  {% endfor %}
</div>  
{% endblock %}