{% extends "base.html" %}

{% block content %}

<div class="w-33 pa3">
  <h2>{{ album.title }}</h2>
  <div class="flex">
    <div class="pr2">
      <div>
        {{ album.artist }}<br />
      </div>

      <p>{{ album.created_at }}</p>

        <p>
          {% for note in album.notes.all %}
            <div class="flex">
              <div>{{ note.note }}</div>
            </div>
          {% endfor %}
        </p>

        <p>
          <a href="{% url 'add_note' pk=album.pk %}">Add Note</a><br> 
          <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>    
          <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a>
        </p>
      </div>  
    </div>   
  </div>
</div>  
{% endblock %}